NODE_ENV=development
PORT=4000
MONGO_URI=mongodb://localhost:27017/returnflow
JWT_ACCESS_SECRET=local_dev_access_secret_min_32_characters_long_12345
JWT_REFRESH_SECRET=local_dev_refresh_secret_min_32_characters_long_12345
REDIS_URL=redis://localhost:6379
AWS_REGION=us-east-1
S3_BUCKET_NAME=returnflow-demo-bucket
SQS_LABEL_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/returnflow-label-queue
SQS_REFUND_QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/returnflow-refund-queue
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:returnflow-notifications
OPENSEARCH_ENDPOINT=https://localhost:9200
STEP_FUNCTIONS_LABEL_ARN=arn:aws:states:us-east-1:123456789012:stateMachine:returnflow-label-generation
FRONTEND_URL=http://localhost:3000
